<div class="footer">
  <hr>
  <p>
    <small>All work belongs to &copy; {{ site.time | date: '%Y' }} Taylor Marsden.</small>
  </p>
  <p>
  	<a target="_blank" href="http://twitter.com/tkmars"><i class="fa fa-twitter fa-lg"></i></a> &nbsp;
  	<a target="_blank" href="http://tkmars.tumblr.com/"><i class="fa fa-tumblr fa-lg"></i></a> &nbsp;
  	<a target="_blank" href="http://ca.linkedin.com/pub/taylor-marsden/14/a96/71b"><i class="fa fa-linkedin fa-lg"></i></a> &nbsp;
  	<a target="_blank" href="http://www.pinterest.com/taylormarsden/"><i class="fa fa-pinterest fa-lg"></i></a> 
  </p>
</div>