---
layout: default
---

<section>
  <div class="post">
    <h2 class="post-title">{{ page.title }}</h2>
    {{ content }}
  </div>
<section>

<div class="related">
  <h2>Related Projects</h2>
  <section>
    <div class="columns">
      {% for post in site.related_posts %}
        {% assign match = false %}
        {% for category in post.categories %}
          {% if page.categories contains category %}
            {% assign match = true %}
          {% endif %}
        {% endfor %}
        {% if match %}
        <figure>
          <a href="{{ post.url }}">
            <img alt="thumbnail" src="{{ site.url }}/images/{{post.thumbnail}}"/>
          </a>
          <figcaption>
            <p><strong>{{ post.title }}</strong></p>
            <p><small>{{ post.summary }}</small></p>
          </figcaption>
        </figure>
        {% endif %}
      {% endfor %}
    </div>
  </section>
</div>